
* { margin: 0; padding: 0; }

body {
	font-family: Helvetica;
	background: #aaa;
}
a:link {color:#FFFFFF; text-decoration:none;}      /* unvisited link */
a:visited {color:#FFFFFF; text-decoration:none;}  /* visited link */
a:hover {color:#EEEEEE;
	font-size:108%; text-decoration:none;}  /* mouse over link */
a:active {color:#FFFFFF; text-decoration:none;}  /* selected link */
input {
	color: #eee;
	height: 20px;
	margin: 0px;
	border: 1px solid #777;
	background: #444;
	padding: 0px 5px;   
	margin: 0 5px 0 5px;   
	border-color: #696 #363 #363 #696;    }  
input:hover {
	color: #eea;
	height: 20px;
	padding: 0px 5px;
	border: 1px solid #111;
	background: #432;   
	margin: 0 5px 0 5px;   
	border-color: #696 #363 #363 #696;    }  
input:active { padding: 0px 6px;
background-position: 0 -104px; }
table, td, th
{
font-size: 14px;
-moz-border-radius: 15px;
border-radius: 15px;
border:5px black;
background-color: 130;
color:black;
padding: 5px 20px;
}
th
{
text-align: center;
border:5px solid black;
background-color:white;
color:black;
}
td{
border:2px solid black;
background-color: 200;
}

#topbar {
	height: 40px;
	background: #222;
	color: #eee;
}

#topbar h1 {
	padding: 5px;
	font-size: 24px;
	color: #c00;
	float: left;
}

#login_form {
	padding: 7px;
	float: right;
}
#login_form2 {
	
	float: right;
}
#login_form2 label {
	position: relative;
	margin: 0 5px 0 5px;
	color: #ccc;
}
#login_form label {
	position: relative;
	margin: 0 5px 0 5px;
	color: #ccc;
}

#menubar {
margin: 0 5px 0 5px;
background: #433;
color: #eee;
padding: 6px;
-moz-border-radius: 15px;
border-radius: 15px;
}

#email, #pwd  {
	color: #eee;
	height: 20px;
	border: 1px solid #777;
	background: #444;

}


#form #pwd {
	margin-right: 10px;

}





